<div class='uit-header'>
    <div class='gs-container'>
        <div class='uit-content'>
            <img class='uit-header__image' src='{{ path }}/assets/illo.jpg' />
            <h2 class='uit-header__tag'><a href='https://www.theguardian.com/commentisfree/series/future-of-the-international-left'>Future of the international left</a></h2>
            <h1 class='uit-header__headline' itemprop='headline'>
                Our new international movement will fight rising fascism and globalists
                <span class='uit-header__headline-byline'><a href='https://www.theguardian.com/profile/yanis-varoufakis'>Yanis Varoufakis</a></span>
            </h1>
            <div class='uit-header__credit'>Illustration by Joan Wong</div>
            <img class='uit-header__byline' src='{{ path }}/assets/yanis.png' />
        </div>
    </div>
</div>

<div class='uit-meta'>
    <div class='gs-container'>
        <div class='uit-meta__date'>Thu 13 Sep 2018</div>
        {{> partials/share }}
    </div>
</div>