<div class='uit-header'>
    <div class='gs-container'>
        <div class='uit-content'>
            <h2 class='uit-header__tag'>Leaders of the Left</h2>
            <h1 class='uit-header__headline' itemprop='headline'>
                We Need an International Progressive Movement to Combat Rising Authoritarianism
                <span class='uit-header__headline-byline'>Bernie Sanders</span>
            </h1>
        </div>
    </div>
</div>

<div class='uit-meta'>
    <div class='gs-container'>
        <div class='uit-meta__date'>Thu 13 Sep 2018</div>
        {{> partials/share }}
    </div>
</div>