.content__main,
.prose {
    p, h1, h2, h3, .element-image {
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px;
        }

        @include mq(wide) {
            margin-left: 240px;
        }
    }

    h2 {
        font-family: 'Guardian Egyptian Web';
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 12px;
        color: $c-orange;
    }

    p:first-letter {
        color: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        font-size: inherit !important;
        float: none !important;
        margin: 0 !important;
        line-height: inherit !important;
        padding: 0 !important;
    }

    p:first-of-type {
        padding-top: 6px;
    }

    .element-rich-link {
        display: none;
    }

    .element--supporting {
        position: relative;
        z-index: 20;
        background-color: transparent !important;
        margin-bottom: 12px !important;
        margin-top: 0 !important;
        margin-right: 10px !important;
        max-width: 340px !important;

        @include mq(mobileLandscape) {
            margin-right: 20px !important;
        }

        @include mq(tablet) {
            float: left !important;
            width: 300px !important;
        }

        @include mq(leftCol) {
            margin-left: 0px !important;
        }

        @include mq(wide) {
            margin-left: 0px !important;
        }
    }

    .element-image {
        position: relative !important;
        margin-bottom: 36px !important;

        @include mq(leftCol) {
            position: relative;
            z-index: 25;
            margin-left: 0px !important;
            max-width: 630px;
        }

        figcaption {
            display: none;
        }

        .element-image__credit {
            display: none;
        }
    }

    .element-image.element--supporting:nth-of-type(3) {
        float: right !important;
    }

    .figure__caption__icon {
        display: none !important;
    }

    .element-image img {
        width: 100%;
        height: auto;
    }

    figcaption {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 1.2;
        color: #676767;
        padding-left: 0 !important;
        padding-right:  0 !important;
        border-bottom: none !important;
    }

    .uit__drop-cap {
        font-family: 'Guardian Egyptian Web';
        font-weight: 200;
        display: inline-block;
        text-transform: uppercase;
        float: left;
        color: $c-orange;
        margin-right: 6px;
        height: 4.3em;
    }

    .uit__drop-inner {
        font-size: 5.2em;
        line-height: 0.79;
    }

    p {
        margin-bottom: 18px;
    }

    p > a {
        color: $c-orange !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border-bottom: 1px solid $c-orange !important;
        background: none !important;

        &:hover {
            text-decoration: none !important;
            box-shadow: none !important;
            color: $c-orange !important;
        }
    }

    // app stuff
        figure.element.element-image.figure-wide {
            margin: 0;
        }

    figure.element.element-image.element--supporting.figure-wide {
        margin-left: 0 !important;
    }
}