.uit-header {
    position: relative;
    overflow: hidden;

    .gs-container {
        background-image: repeating-linear-gradient(to bottom, darken($c-light-grey, 5%) 1px, transparent 2px, transparent 5px);
        background-size: 100% 35px;
        background-repeat: no-repeat;
        background-position: left bottom;
        padding-bottom: 38px;

        &:before {
            display: none;
        }
    }

    a {
        color: $c-orange !important;
        text-decoration: none;

        &:hover {
            color: $c-dark-orange;
        }
    }

    .uit-content {
        &:before,
        &:after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            width: 400px;
            display: none;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:before {
            @include mq(leftCol) {
                width: 180px;
                left: -170px;
                display: block;
                background-image: url('{{ path }}/assets/left.jpg');
            }
        }

        &:after {
            @include mq(desktop) {
                display: block;
                width: 300px;
                right: -280px;
                background-image: url('{{ path }}/assets/right.jpg');
            }
        }
    }
}

.uit-header__image {
    width: 100%;
}

.uit-header__headline {
    position: relative;
    z-index: 2;
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-size: 24px;
    line-height: 1.2em;
    margin-left: 0 !important;
    background-origin: content-box;
    background-position: 0 1px;
    background-image: linear-gradient(180deg, 
        transparent calc(100% - 1px), 
        darken($c-light-grey, 5%)
    );
    padding-bottom: 1px;
    background-size: 1px 1.2em;

    @include mq(tablet) {
        font-size: 56px;
        background-position: 0 5px;
        min-height: 6em;
    }
}

.uit-header__headline-space {
    padding-right: 200px;
}

.uit-header__headline-byline {
    color: $c-orange;
    display: block;
    font-style: italic;
}

.uit-header__tag {
    position: relative;
    z-index: 2;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700 !important;
    font-size: 18px !important;
    margin-left: 0 !important;
    color: $c-orange;
    margin: 0 !important;

    @include mq(tablet) {
        font-size: 22px !important;
    }
}

.uit-header__credit {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.2;
    color: $c-dark-grey;
    padding-top: 5px;

    @include mq(leftCol) {
        position: absolute;
        left: -160px;
        bottom: 4px;
    }

    @include mq(wide) {
        left: -240px;
    }
}

.uit-header__byline {
    position: relative;
    z-index: 10;
    margin-bottom: -38px;
    width: 140px;
    margin-left: auto;
    margin-top: -18px * 3;

    @include mq(tablet) {
        width: 220px;
        position: absolute;
        bottom: -38px;
        right: -60px;
        margin: 0;
    }
}

.uit-meta {
    @include mq(leftCol) {
        position: absolute;
        width: 100%;
    }
}

.uit-meta__date {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-dark-grey;
    padding-bottom: 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid $c-light-grey;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    @include mq(mobileLandscape) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(leftCol) {
        width: 170px;
        margin-right: 0;
        padding-right: 0;
        padding-top: 6px;
    }

    @include mq(wide) {
        width: 250px;
    }
}