.uit-header {
    overflow: auto;
}

.uit-header__headline {
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-size: 24px;
    line-height: 1.2em;
    margin-left: 0 !important;
    background-origin: content-box;
    background-position: 0 5px;
    background-image: linear-gradient(180deg, 
        transparent calc(100% - 1px), 
        $c-light-grey
    );
    background-size: 1px 1.2em;

    @include mq(tablet) {
        font-size: 48px;
    }
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 0 !important;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header .uit-share {
    padding-bottom: 24px;
}

.uit-header__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-red;
    margin-left: 0 !important;

    a {
        font-style: normal;
        font-weight: bold;
        color: $c-red;
    }
}
