.uit-header {
    overflow: hidden;
    padding-top: 20vh;
}

.uit-header__headline {
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-size: 24px;
    line-height: 1.2em;
    margin-left: 0 !important;
    background-origin: content-box;
    background-position: 0 5px;
    background-image: linear-gradient(180deg, 
        transparent calc(100% - 1px), 
        $c-light-grey
    );
    background-size: 1px 1.2em;

    @include mq(tablet) {
        font-size: 56px;
    }
}

.uit-header__headline-byline {
    color: $c-orange;
    display: block;
    font-style: italic;
}

.uit-header__tag {
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 18px;
    margin-left: 0 !important;
    color: $c-orange;

    @include mq(tablet) {
        font-size: 22px;
    }
}
